* {
  font-family: "Nunito", sans-serif;
}

html,
body {
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  background: url(/BG.webp);
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  overflow: scroll;
}
#root {
  width: 1200px;
  max-width: calc(100vw - 4rem);
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0.5rem auto;
}
h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0.5rem 0;
}
h2 {
  font-size: 2rem;
}
.form {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
}
@media only screen and (max-width: 1600px) {
  .form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 600px) {
  .form {
    grid-template-columns: auto;
  }
}
.form > div {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.required {
  color: #d32f2f;
}
.errorMessage {
  color: #d32f2f;
}
.errorMessage.active {
  display: block;
}
.errorMessage.hidden {
  display: none;
}

input,
select {
  background: hsla(0, 0%, 100%, 0.1);
  color: #fff;
  font-size: 1.1rem;
  outline: none;
  border-radius: 10px;
  backdrop-filter: blur(100px);
  border: none;
  padding: 1rem 1rem;
  margin: 1rem 0;
}
select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url(/expand_more_24px.png);
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 12px;
  background-origin: content-box, padding-box;
  background-position-y: center;
}
.form-button {
  display: flex;
  justify-content: flex-end;
  padding: 2rem 0;
}
button {
  background: hsla(0, 0%, 100%, 0.1);
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background: hsla(0, 0%, 100%, 0.3);
}
